*{

}

nav li{
    list-style: none;
    display: inline;
    margin-right: 15px;
}

nav li:hover{
    background-color: bisque;
}

nav li a{
    text-decoration: none;
}

/* Main */
article img{
    width: 100%;
}


footer{
    text-align: center;
    color: brown;
}